@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon4bdc.eot?5fae6b');
  src:  url('../fonts/icomoon4bdc.eot?5fae6b#iefix') format('embedded-opentype'),
    url('../fonts/icomoon4bdc.ttf?5fae6b') format('truetype'),
    url('../fonts/icomoon4bdc.woff?5fae6b') format('woff'),
    url('../fonts/icomoon4bdc.svg?5fae6b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\ea12";
}
.icon-down-arrow1:before {
  content: "\ea0c";
}
.icon-top-arrow1:before {
  content: "\ea0d";
}
.icon-1272708:before {
  content: "\ea0e";
}
.icon-hghdf98:before {
  content: "\ea0f";
}
.icon-jggjhgjh87:before {
  content: "\ea10";
}
.icon-uydf87:before {
  content: "\ea11";
}
.icon-xfht89:before {
  content: "\ea0a";
}
.icon-hgghds76:before {
  content: "\ea0b";
}
.icon-right-arrow:before {
  content: "\ea02";
}
.icon-certi:before {
  content: "\ea03";
}
.icon-cghn67:before {
  content: "\ea04";
}
.icon-dhn892:before {
  content: "\ea05";
}
.icon-dsd545456:before {
  content: "\ea06";
}
.icon-hgd87d90:before {
  content: "\ea07";
}
.icon-Popular-with-customers:before {
  content: "\ea08";
}
.icon-srth56:before {
  content: "\ea09";
}
.icon-app:before {
  content: "\e9f6";
}
.icon-code:before {
  content: "\e9f7";
}
.icon-fdfh65:before {
  content: "\e9f8";
}
.icon-hgfgh67:before {
  content: "\e9f9";
}
.icon-jfgfyt78:before {
  content: "\e9fa";
}
.icon-location:before {
  content: "\e9fb";
}
.icon-quality:before {
  content: "\e9fc";
}
.icon-safe:before {
  content: "\e9fd";
}
.icon-scgedule:before {
  content: "\e9fe";
}
.icon-trace:before {
  content: "\e9ff";
}
.icon-verified:before {
  content: "\ea00";
}
.icon-yg76:before {
  content: "\ea01";
}
.icon-zdnbsdvhjh776:before {
  content: "\e9ed";
}
.icon-Bring-in-new-customers:before {
  content: "\e9ee";
}
.icon-dfbgt:before {
  content: "\e9ef";
}
.icon-dfvd45:before {
  content: "\e9f0";
}
.icon-ghg87:before {
  content: "\e9f1";
}
.icon-hghjdy:before {
  content: "\e9f2";
}
.icon-jbjxfv78:before {
  content: "\e9f3";
}
.icon-jhc78jhsdf67:before {
  content: "\e9f4";
}
.icon-jjndf98:before {
  content: "\e9f5";
}
.icon-1215798:before {
  content: "\e900";
}
.icon-cgh67:before {
  content: "\e901";
}
.icon-df56g9:before {
  content: "\e902";
}
.icon-dfv56:before {
  content: "\e903";
}
.icon-facebook-logo:before {
  content: "\e904";
}
.icon-go4fresh-logo1 .path1:before {
  content: "\e905";
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path7:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path8:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path9:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path10:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path11:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path12:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path13:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path14:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path15:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path16:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path17:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path18:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path19:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path20:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path21:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path22:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path23:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path24:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path25:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path26:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path27:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 112, 63);
}
.icon-go4fresh-logo1 .path28:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path29:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path30:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path31:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path32:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path33:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path34:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path35:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path36:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path37:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path38:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path39:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path40:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path41:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path42:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path43:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path44:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path45:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path46:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path47:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path48:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path49:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path50:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path51:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo1 .path52:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path53:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path54:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path55:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path56:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path57:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path58:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path59:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path60:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path61:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path62:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path63:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path64:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path65:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path66:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path67:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path68:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path69:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path70:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path71:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path72:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path73:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path74:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path75:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo1 .path76:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo1 .path77:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path78:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path79:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path80:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path81:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path82:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path83:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path84:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path85:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path86:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path87:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path88:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path89:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path90:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path91:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path92:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path93:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path94:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path95:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path96:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path97:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path98:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path99:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path100:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path101:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path102:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path103:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path104:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo1 .path105:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-go4fresh-logo1 .path106:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-go4fresh-logo2 .path1:before {
  content: "\e96f";
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path2:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path3:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path4:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path5:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path6:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path7:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path8:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path9:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path10:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path11:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path12:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path13:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path14:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path15:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path16:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path17:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path18:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path19:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path20:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path21:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path22:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path23:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path24:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path25:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path26:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path27:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(0, 112, 63);
}
.icon-go4fresh-logo2 .path28:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path29:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path30:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path31:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path32:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path33:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path34:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path35:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path36:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path37:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path38:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path39:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path40:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path41:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path42:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path43:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path44:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path45:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path46:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path47:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path48:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path49:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path50:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path51:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(166, 206, 57);
}
.icon-go4fresh-logo2 .path52:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path53:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path54:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path55:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path56:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path57:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path58:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path59:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path60:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path61:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path62:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path63:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path64:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path65:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path66:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path67:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path68:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path69:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path70:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path71:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path72:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path73:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path74:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path75:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path76:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(255, 242, 0);
}
.icon-go4fresh-logo2 .path77:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path78:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path79:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path80:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path81:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path82:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path83:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path84:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path85:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path86:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path87:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path88:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path89:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path90:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path91:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path92:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path93:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path94:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path95:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path96:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path97:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path98:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path99:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path100:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path101:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path102:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path103:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path104:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(0, 114, 54);
}
.icon-go4fresh-logo2 .path105:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-go4fresh-logo2 .path106:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gser45:before {
  content: "\e9d9";
}
.icon-hghgsd87:before {
  content: "\e9da";
}
.icon-hgjvhg76:before {
  content: "\e9db";
}
.icon-jh80df7:before {
  content: "\e9dc";
}
.icon-jjgh87:before {
  content: "\e9dd";
}
.icon-ju8:before {
  content: "\e9de";
}
.icon-left-arrow2:before {
  content: "\e9df";
}
.icon-linkedin-logo:before {
  content: "\e9e0";
}
.icon-ngcgh76:before {
  content: "\e9e1";
}
.icon-placeholder:before {
  content: "\e9e2";
}
.icon-right-arrow1:before {
  content: "\e9e3";
}
.icon-sadvsdfvdf:before {
  content: "\e9e4";
}
.icon-sdfgse98:before {
  content: "\e9e5";
}
.icon-sdfv65:before {
  content: "\e9e6";
}
.icon-supply:before {
  content: "\e9e7";
}
.icon-svsd45:before {
  content: "\e9e8";
}
.icon-telephone11:before {
  content: "\e9e9";
}
.icon-toparrow1:before {
  content: "\e9ea";
}
.icon-twitter-logo-silhouette1:before {
  content: "\e9eb";
}
.icon-vbhf8y:before {
  content: "\e9ec";
}



@font-face {
  font-family: 'newicomoon';
  src:  url('../fonts/newicomoonfa87.eot?6i597e');
  src:  url('../fonts/newicomoonfa87.eot?6i597e#iefix') format('embedded-opentype'),
    url('../fonts/newicomoonfa87.ttf?6i597e') format('truetype'),
    url('../fonts/newicomoonfa87.woff?6i597e') format('woff'),
    url('../fonts/newicomoonfa87.svg?6i597e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="newicon-"], [class*="newicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'newicomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.newicon-9859:before {
  content: "\e900";
}
.newicon-bdf87:before {
  content: "\e901";
}
.newicon-fdg56:before {
  content: "\e902";
}
.newicon-hjdf8:before {
  content: "\e903";
}
.newicon-hjsdv87:before {
  content: "\e904";
}
.newicon-jfg994:before {
  content: "\e905";
}
.newicon-jhdf87ui78q:before {
  content: "\e906";
}
.newicon-jhdf89:before {
  content: "\e907";
}
.newicon-jhdf8012:before {
  content: "\e908";
}
.newicon-jhfe0934:before {
  content: "\e909";
}
.newicon-kjdf87:before {
  content: "\e90a";
}
.newicon-kjkjfg94:before {
  content: "\e90b";
}
.newicon-Receive-approval:before {
  content: "\e90c";
}
.newicon-feedback:before {
  content: "\e90d";
}
.newicon-Track-Order-Status1:before {
  content: "\e90e";
}